*{box-sizing: border-box}

body {
    font-family: 'Courier', monospace;
    color: #EFEFD0;
    background-image: url('../img/stack5.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    padding: 10%;
}

.title {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

main {
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 5%;
    overflow: auto;
    display: inline-block;
}

.parent {
    position: relative;
}

.childText {
    float: left;
    width: 60%;
    text-align: left;
}

.childImage {
    width: 25%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0px;
}

.parent2 {
    position: relative;
}

.childText2 {
    float: right;
    width: 60%;
    text-align: left;
}

.childImage2 {
    width: 25%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0px;
}

.text1 {
    width: 70%;
    height: 400px;
}

.image1 {
    width: 200px;
    height: 200px;
    background-image: url("../img/fred2.jpg");
    background-size: cover;
}

main div {
    display: inline-block;
}

main img {
    width: 20%;
    border-radius: 25px;
    margin: 1%;
}

p {
    width: 70%;
    overflow: auto;
    font-size: 1rem;
    padding-top: 100px;
    padding-bottom: 100px;
}

.portfolio {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 100px
}

.portfolio h3 {
    margin-bottom: 50px;
}

.preview {
    border: 1px solid black;
    margin: 1%;
    padding: 2%;
    display: inline-block;
    width: 30%;
    height: 200px;
}

footer {
    position: fixed;
    border-top: 3px solid #5B1901;
    height: 50px;
    width: 100%;
    bottom: 0;
    left: 0;
    text-align: center;
    background-color: #B37101;
}

footer h4 {
    display: inline;
}
button {
    height: 40px;
    width: 40px;
    margin-top: 5px;
    margin-left: 2%;
    margin-right: 2%;
}

@media screen and (max-width: 950px) {
    .preview {
        width: 40%;
    }
}

@media screen and (max-width: 720px) {
    .preview {
        width: 80%;
    }
    footer h4 {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    main img {
        display: none;
    }
    .line1 {
        text-align: justify;
        width: auto;
    }
    .line2 {
        text-align: justify;
        width: auto;
    }
    .line3 {
        text-align: justify;
        width: auto;
    }
}