*{box-sizing: border-box}

header {
    padding: 15%;
}

.title {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

main {
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
    margin-bottom: 5%;
    overflow: auto;
}

main img {
    height: 180px;
    width: 130px;
}

p {
    width: 66%;
    overflow: auto;
    font-size: 1rem;
    margin-top: 50px;
    margin-bottom: 50px;
}

.line1 {
    float: left;
    text-align: left;
}

.line2 {
    text-align: right;
    float: right;
}

.line3 {
    float: left;
    text-align: left;
}

.portfolio {
    text-align: center;
    margin-top: 150px;
    margin-bottom: 100px
}

.portfolio h3 {
    margin-bottom: 50px;
}

.preview {
    border: 1px solid black;
    margin: 1%;
    padding: 2%;
    display: inline-block;
    width: 30%;
    height: 200px;
}

footer {
    position: fixed;
    border: 1px solid black;
    height: 50px;
    width: 100%;
    bottom: 0;
    left: 0;
    text-align: center;
    background-color: #ffffff;
}

footer h4 {
    display: inline;
}
button {
    height: 40px;
    width: 60px;
    margin-top: 5px;
    margin-left: 2%;
    margin-right: 2%;
}

@media screen and (max-width: 950px) {
    .preview {
        width: 40%;
    }
}

@media screen and (max-width: 720px) {
    .preview {
        width: 80%;
    }
    footer h4 {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    main img {
        display: none;
    }
    .line1 {
        text-align: justify;
        width: auto;
    }
    .line2 {
        text-align: justify;
        width: auto;
    }
    .line3 {
        text-align: justify;
        width: auto;
    }
}